plugins:
  - jekyll-relative-links
relative_links:
  enabled: true
  collections: true
include:
  - README.md
  - LICENSE.md
url: https://knowing-machine.github.io
baseurl: /gemini

title: Knowing Machine
description: This is a machine that reasons.

machine:
  name: Knowing-Machine
  verb: Knowing
  instructions_file: knowing.md
  token: gemini
  server: https://localhost:443
  apiUrl: https://generativelanguage.googleapis.com/v1beta/models/
  fallback_llm: gemini-2.5-flash

app:
  worker_name: gemapi.js

lm:
  model: gemini-2.5-flash
  maxOutputTokens: 65536
  temperature: 1.0
  topP: 0.9
  topK: 50
  thinkingBudget: 24576
  includeThoughts: true


github_settings:
  owner: knowing-machine
  repo: knowing_machine
  file_name: machina.yaml
  branch: main
  token_file: github.txt
